html {
	background-color: #09f;
}

body {
	background-image: url(imagenes/paisaje_nieve.jpg);
	width: 70%;
	background-color: #FFF;
	margin-top:20px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify; 
}

#imagenes {
	float: left;
	width: 20em;
	margin-right: 20px;
	margin-left:15px;
}

#oscar {
	float: left;
	width: 15em;
	margin-right: 20px;
	margin-left:15px;
}

p {
	font-size:1.5em;
	color:grey;
}

h1 {
	color: blue;
	text-align: center;
	margin-bottom:40px;
}
